<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Kelompok BabayoGenk!!</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon/icon.png') }}" type="image/icon type">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <!-- Mengganti teks nama kelompok dengan GIF -->
        <div class="group-logo">
            <img src="{{ url_for('static', filename='img/baba.gif') }}" alt="BabayoGenk GIF">
        </div>


        <div class="profiles">
            <!-- Profil anggota -->
            <div class="profile">
                <img src="{{ url_for('static', filename='img/rizqy.jpg') }}" alt="Rizqy Muhammad Raihan">
                <h2>Rizqy Muhammad Raihan</h2>
                <p>NIM: 22.83.0797</p>
                <p>Universitas Amikom Yogyakarta - Teknik Komputer</p>
                <p>Halo, nama saya Rizqy Muhammad Raihan. Saya merupakan mahasiswa S1 Teknik Komputer yang memiliki ketertarikan mendalam di bidang teknologi dan pemrograman. Selain itu, saya juga memiliki hobi yang menyenangkan, yaitu menonton anime Naruto. Saya sangat menikmati perjalanan karakter-karakter dalam cerita dan nilai-nilai yang terkandung di dalamnya.</p>
            </div>
            <div class="profile">
                <img src="{{ url_for('static', filename='img/ahmad.jpg') }}" alt="Ahmad Sri Bintang">
                <h2>Ahmad Sri Bintang</h2>
                <p>NIM: 22.83.0796</p>
                <p>Universitas Amikom Yogyakarta - Teknik Komputer</p>
                <p>Halo, nama saya Ahmad Sri Bintang. Saat ini, saya adalah mahasiswa S1 Teknik Komputer yang memiliki minat besar dalam dunia teknologi dan inovasi. Selain studi, saya juga memiliki hobi menonton pertandingan sepak bola. Saya sangat menikmati momen-momen seru di lapangan dan mendukung tim favorit saya.</p>
            </div>
            <div class="profile">
                <img src="{{ url_for('static', filename='img/iqbal.jpg') }}" alt="Muhamad Iqbal Ashari">
                <h2>Muhamad Iqbal Ashari</h2>
                <p>NIM: 22.83.0818</p>
                <p>Universitas Amikom Yogyakarta - Teknik Komputer</p>
                <p>Halo, nama saya Muhamad Iqbal Ashari. Saya adalah mahasiswa S1 Teknik Komputer yang memiliki ketertarikan besar dalam dunia teknologi. Selain belajar, salah satu hobi saya adalah memasak. Saya menikmati bereksperimen dengan berbagai resep dan menciptakan hidangan yang lezat.</p>
            </div>
            <div class="profile">
                <img src="{{ url_for('static', filename='img/fayi.jpg') }}" alt="Fayi Subhi Taufiqurrahman">
                <h2>Fayi Subhi Taufiqurrahman</h2>
                <p>NIM: 22.83.0808</p>
                <p>Universitas Amikom Yogyakarta - Teknik Komputer</p>
                <p>Halo, nama saya Fayi Subhi T. Saya adalah mahasiswa S1 Teknik Komputer yang sangat antusias dalam menjelajahi dunia teknologi. Salah satu hobi saya adalah mengerjakan tugas, karena saya percaya bahwa setiap tugas memberikan kesempatan untuk belajar dan berkembang.</p>
            </div>
        </div>
    </div>

</body>
</html>

